//
// about
//
//
//   @media (min-width: 769px) {} 



.about {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;

    text-align: center;
    position: relative;
}

.about p{
    line-height: 1;
}


.about-border{
    margin: 0 20px 0 20px;
    padding: 0 0 20px 0;
    border: 2px solid $light-blue;
}


.section-tytle{
    &.about{
        margin-top: 0px;
        padding-top: 20px;
    }
    .tytle{
        margin-top: 0px;
        padding-top: 0px;
    }


} 


//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.about-b{
        position: absolute;
        top: 215px;
        left: calc(calc(100vw /2) - 63px);
        margin: 0 auto;
    }
} 



//////////////////////////////////
//////////////////////// 下層ページ

