//
// faq
//
//
//   @media (min-width: 769px) {} 



.faq{

    padding-bottom: 50px;
    text-align: center;
    z-index: 10;
}


.question{
    margin: 20px 30px 0 30px;
    border: 1px solid $dark-gray;
    border-radius: 30px;
    line-height: 1;
    text-align: left;
    z-index: 20;

    &.white-shadow{
        opacity: 0.5;
    }

}

.ques{
    margin-left: 20px;
}


//////////////////////////////////
//////////////////////// more-button

.more-button{
    &.faq-b{
        margin-top: -20px;
        position: relative;
        z-index: 40;

    }
} 

//////////////////////////////////
//////////////////////// 下層ページ
.cover{
    &.faq-c{
        background-image: none;
        background-color: $light-gray;



        background: linear-gradient(217deg, $light-blue-80, $invisible 70.71%),
        linear-gradient(127deg, $dark-gray-80, $invisible 70.71%),
        linear-gradient(336deg, $light-gray-80, $invisible 70.71%);


        border: none;
        height: 200px;
    }
}


.section{
    &.s_01{
        margin-top: $margin-top;
    }
}