//
// faq
//
//
//   @media (min-width: 769px) {} 



.faq{

    padding-bottom: 50px;
    text-align: center;
    z-index: 10;
}


.question{
    margin: 20px 30px 0 30px;
    border: 1px solid $dark-gray-60;
    border-radius: 60px;
    line-height: 1;

    z-index: 20;
}


.white-shadow{
    margin: -40px 20px 0 20px;
    height: 40px;
    background: linear-gradient(0deg, $white, $invisible 100.95%);
    position: relative;
    z-index: 30;
}



//////////////////////////////////
//////////////////////// more-button

.more-button{
    &.faq-b{
        margin-top: -20px;
        position: relative;
        z-index: 40;

    }
} 