//
// hamburger
//
//
//   @media (min-width: 769px) {} 






//////////////////////////////////
////////////////////////sp-nav


.sssp-nav {
    display: none;
    position: fixed;

    top: 5rem;
    right: 0rem;
    height: 100vh;
    width: (100% -5rem);
    background-color: $white;

        z-index: 15;


    @media (min-width: 769px) {
        display: none;
    } 
}


//////////////////////////////////
////////////////////////pc-nav
//   @media (min-width: 769px) {} 


.pc-nav {
    display: none;
    @media (min-width: 769px) {
        display: inline-block;
    } 
}


//////////////////////////////////////////////////////////////////

/*アクティブになったエリア*/
#sp-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 800;
    top: 0;
    width: 100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
    z-index: 790;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
    linear-gradient(127deg, $white, $white-70 70.71%), 
    linear-gradient(217deg, $light-blue, $light-blue-80 70.71%);



    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
  transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#sp-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 900; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#sp-nav.panelactive #sp-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#sp-nav ul {
    opacity: 0;/*はじめは透過0*/
    padding: 0;
    position: absolute;
    z-index: 1000;
    top:25%;
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;

    width: 70%;
    margin:0 30px;
}

/*ナビゲーション*/
#sp-nav-list{
    .contact-tel {
        opacity: 0;/*はじめは透過0*/
        padding: 0;
        position: absolute;
        z-index: 1000;
        top: 60%;
        left: 40%;
        transform: translate(-50%,-50%);

        width: calc(100% - 80px);
        //margin: 0 40px;
        padding: 30px;
        border: 1px solid $black;
        text-align: center;
    }
    .contact-mail {
        opacity: 0;/*はじめは透過0*/
        padding: 0;
        position: absolute;
        z-index: 1000;
        top: calc(60% + 95px);
        left: 40%;
        transform: translate(-50%,-50%);

        width: calc(100% - 80px);
        //margin: 0 40px;
        padding: 30px;
        border: 1px solid $black;
        text-align: center;
    }

}


/*背景が出現後にナビゲーションを表示*/
#sp-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#sp-nav.panelactive ul li{
    animation-name:gnaviAnime;
    animation-duration: 0.5s;
    animation-delay: 0.2s;/*0.2 秒遅らせて出現*/
    animation-fill-mode:forwards;
    opacity:0;
}

#sp-nav.panelactive div{
    animation-name:gnaviAnime;
    animation-duration: 0.5s;
    animation-delay: 0.2s;/*0.2 秒遅らせて出現*/
    animation-fill-mode:forwards;
    opacity:0;
}



@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#sp-nav li{
  text-align: left; 
  list-style: none;
}

#sp-nav li a{
  color: $black;
  text-decoration: none;
  padding:10px;
  display: block;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid $black;

  &.logo{
      border: none;
    }

}


/////////////// ボタンのためのCSS
.openbtn1{
    position:fixed;
    top: 0rem;
    right: 0rem;
    z-index: 999;
    cursor: pointer;
    width: 5rem;
    height:5rem;
    @media (min-width: 769px) {
        display: none;
    } 
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all 0.5s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: $black;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

