//
// header
//
//
//   @media (min-width: 769px) {} 


.header-bar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    width: 100%;
    background-color: $white-90;
    z-index: 1000;
   
}

.logo {
    display: inline-block;
    padding: 0 0 0 10px;
}

.logo img{
    height: 30px;
    width: auto;
}

.nav-button {
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 15px;
    font-size: 2rem;
    @media (min-width: 769px) {
        display: none;
    } 
}



//////////////////////////////////
//////////////////////// cover

.cover{
    position: relative;
   // display: ;
    margin-top: 50px;
    width: 100%;
    height: 75vw;
    //text-align: center;
    background-image: url("../images/sp-cover.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: 2px solid $black;
}


.catch {
    position: absolute;
    margin: 40px 0 0 20px;

    height: 90px;
    width: 230px;
    background-color: $black-90;
    color: $white;
    line-height: 1.5;
}


.catch-one {
    font-weight: 500;
    margin: 15px 0 0 20px;
}


.catch-two {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0 0 0 20px;
}

//////////////////////////////////
////////////////////////slideshow

.wrap {
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
   

    //border-top: 2px solid $black;
    border-bottom: 2px solid $black;
}
.slideshow {
    display: flex;
    padding: 0;
    animation: loop-slide 15s infinite linear 1s both;

    list-style:none;

}
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}


.content {
    width: 530px;
    height: 40px;

    font-size: 1.6rem;
    //font-weight: 200;

    a{
        display: inline-block;
        margin: 0 auto;
        padding-top: 5px;
    }
}
.content:nth-child(1) {
    background-color: $light-blue;
    a{
        color: $white;
    }
}
.content:nth-child(2) {
    background-color: $light-gray;
}
.content:nth-child(3) {
    background-color: $white;
}





//////////////////////////////////
////////////////////////sp-nav


.sp-nav {
    display: none;





    @media (min-width: 769px) {
        display: none;
    } 
}


//////////////////////////////////
////////////////////////pc-nav
//   @media (min-width: 769px) {} 


.pc-nav {
    display: none;
    @media (min-width: 769px) {
        display: inline-block;
    } 
}