//
// office
//
//
//   @media (min-width: 769px) {} 



.office{
    margin-top: $margin-top;
    margin-bottom: 0px;
    padding-bottom: 50px;
    
  //  background-color: $black;
    background:
        linear-gradient(127deg, $black, $invisible 70.71%), 
        linear-gradient(217deg, $dark-gray, $invisible 70.71%),
        linear-gradient(336deg, $black, $invisible 70.71%);


    color: $white;
    text-align: center;
}

.office-content{
    margin-top: $margin-top;

    display: flex;
   // flex-wrap: wrap;

    &.two{
        margin-top: 5px; 
        flex-direction: row-reverse;
    }
    &.three{
        margin-top: 5px; 
        
    }
}


.office-image { 
    width: 80vw;
    height: 60vw;
    //border: 1px solid $white;
    box-shadow: 0px 2px 1px 0 $dark-gray-80;
    box-sizing: border-box;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.office-detail{
    margin-top: 40vw;
    margin-left: -140px;
    height: 60px;
    width: 50%;
    
    background-color: $black-80;
    box-shadow: 0px 2px 1px 0 $dark-gray-80;
    line-height: 0.5;

    &.two{
        margin-right: -140px;
    }


    .office-access{
        font-size: 1.2rem;
    }
}


//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.office-b{
        margin-top: $margin-top;
    }
}



//////////////////////////////////
//////////////////////// 下層ページ

.cover{
    &.office-c{
        background-image: url("../images/sp/sp-office-06.jpg");
    }
}

.office-list{
    margin-top: $margin-top;
    margin-bottom: 75px;

}

.office-sub-tytle{
    margin: 50px 20px;
}


.office-item{
    margin-top: $margin-top;

    .office-item-bk{
        position: relative;
        height: 600px;
        margin: 50px 0;
    }


    .office-image{
        position: absolute;
        margin: 0 55px 0 20px;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        z-index: 30;
    }

    .office-line{
        position: absolute;
        top: 15vh;
        right: 35px;
        height: 175px;
        width:5px;
        z-index: 20;
        background-color: $light-blue;
    }

    .office-info{
        position: absolute;
        top: calc( 15vh + 20px);
        left: 40px;
        height: 480px;
        width: calc(100% - 60px);

        z-index: 10;

        padding: 100px 20px 30px 20px;
        box-sizing: border-box;
        background-color: $black;

        color: $white;


        .office-name{
            font-size: 2.2rem;
            z-index: 50;
        }

        .office-address{
            line-height: 1.0;
        }
        .office-access{
            line-height: 1.0;
        }
    }




}



//////////////////////////// google-map

.office-item{
    .office-info{
        .office-map{
            height: 200px;
            width: 100%;
            margin-top: 30px;
            .google-map{
                background-color: $light-blue;
                height: 100%;
                width: 100%;
            }
        }
    }
}

/////////////////////////////////////////