//
// office
//
//
//   @media (min-width: 769px) {} 



.office{
    margin-top: $margin-top;
    margin-bottom: 0px;
    padding-bottom: 50px;
    
  //  background-color: $black;
    background:
        linear-gradient(127deg, $black, $invisible 70.71%), 
        linear-gradient(217deg, $dark-gray, $invisible 70.71%),
        linear-gradient(336deg, $black, $invisible 70.71%);


    color: $white;
    text-align: center;
}

.office-content{
    margin-top: $margin-top;

    display: flex;
   // flex-wrap: wrap;

    &.two{
        margin-top: 5px; 
        flex-direction: row-reverse;
    }
    &.three{
        margin-top: 5px; 
        
    }
}


.office-image { 
    width: 80vw;
    height: 60vw;
    //border: 1px solid $white;
    box-shadow: 0px 2px 1px 0 $dark-gray-80;
    box-sizing: border-box;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.office-detail{
    margin-top: 40vw;
    margin-left: -140px;
    height: 60px;
    width: 50%;
    
    background-color: $black-80;
    box-shadow: 0px 2px 1px 0 $dark-gray-80;
    line-height: 0.5;

    &.two{
        margin-right: -140px;
    }


    .office-access{
        font-size: 1.2rem;
    }
}


//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.office-b{
        margin-top: $margin-top;
    }
}



//////////////////////////////////
//////////////////////// 下層ページ

.cover{
    &.office-c{
        background-image: url("../images/sp/sp-office-06.jpg");
    }
}