@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #2E3233;
  background-color: #F7F7F7;
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #2E3233;
  text-decoration: none;
}


