@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #2e3436;
  background-color: #e7e7e7;

  background-image: linear-gradient(0deg, transparent 33px, #c3c3c3 34px), linear-gradient(90deg,  transparent 33px, #c3c3c3 34px);
  background-size: 34px 34px;
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #2e3436;
  text-decoration: none;
}


.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

ul li i{
  font-size:  2.0rem;
  margin: 1.5rem 0;
}

ul{
  padding-left: 20px;
}
ul li{
  list-style:none;
  font-weight: bold;
}

.undone{
  display: none;
}

.doing a{

  color: #d3d3d3;
}



/**/
h1 .fa-splotch{
  margin: 0;
  animation: 5s linear infinite rotation1;
}
h2 .fa-splotch{
  margin: 0;
  animation: 4s linear infinite rotation1;
}
h3 .fa-splotch{
  margin: 0;
  animation: 3s linear infinite rotation1;
}
h4 .fa-splotch{
  margin: 0;
  animation: 2s linear infinite rotation1;
}

@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}


