//
// about
//
//
//   @media (min-width: 769px) {} 



.about {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;

    text-align: center;
    position: relative;
    @media (min-width: 769px) {
        margin-top: $margin-top-pc;
    } 
}

.about p{
    line-height: 1;
}


.about-border{
    width: calc(100%-40px);
    //max-width: 500px;
    margin: 0 20px;
    padding: 0 0 20px 0;
    border: 2px solid $light-blue;

    @media (min-width: 769px) {
        margin: -25px 15vw;
        padding: 100px 0  150px 0;
        border: 3px solid $light-blue;
    }
}


.section-tytle{
    &.about{
        margin-top: 0px;
        padding-top: 20px;
    }
    .tytle{
        margin-top: 0px;
        padding-top: 0px;
    }


} 


//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.about-b{
        position: absolute;
        top: 215px;
        left: calc(calc(100vw /2) - 63px);
        margin: 0 auto;

        @media (min-width: 769px) {
            top: 385px;
            left: calc(calc(100vw /2) - 100px);
        }
    }
} 



//////////////////////////////////
//////////////////////// 下層ページ


.more-button{
    &.about-office-b{
        width: calc(100% - 40px);
        margin: 0 auto;
        @media (min-width: 769px) {
            max-width: 400px;
        }

    }

    &.about-service-b{
        width: calc(100% - 40px);
        margin: 0 auto;
        @media (min-width: 769px) {
            max-width: 400px;
        }

    }
} 



////////// about-sample-office
.about-sample-office{
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: 20px;
    margin-right: 20px;


    @media (min-width: 769px) {
        max-width: 800px;
        margin: $margin-top auto;
        margin-bottom: $margin-bottom;
    }




}
.a-so-tytle{
    margin-left: -5px; 
    @media (min-width: 769px) {
        font-size: 2.4rem;
    }
}

.a-so-content{

    @media (min-width: 769px) {
        line-height: 2.25;
    }

    .a-so-work-style{
        margin: 30px 0;

        font-size: 1.8rem;
        line-height: 2.0;

        @media (min-width: 769px) {
            width: 600px;
            margin: 0 auto;
            padding: 0 75px;
            line-height: 2.75;
            font-size: 2.0rem;
        }

    }
}


////////// about-office
.about-office{
    margin-top: $margin-top;
    margin-bottom: 75px;
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: 769px) {
        max-width: 800px;
        margin: $margin-top auto;
        margin-bottom: 100px;
    }




}


.carousel{
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: 769px) {
        height: 400px;
        width: 600px;
        margin: 0 auto;
        box-sizing: border-box;


        .slick-list{
            height: 100%;
            width: 100%;
            img{
               // height: 100%;
                width: 100%;
            }
        }
    }


}


////////// about-service

.about-service{
    margin-top: $margin-top;
    margin-bottom: 75px;
    margin-left: 20px;
    margin-right: 20px;


    @media (min-width: 769px) {
        max-width: 800px;
        margin: $margin-top auto;
        margin-bottom: 100px;
    }
}



//////////////////////////////

.pc-about-border{
    border:none;

    @media (min-width: 769px) {

  
        margin: 0;
        width: 100%;
        box-sizing: border-box;

        border-top: 80px solid $light-gray-80;
        border-left: 15vw solid $light-gray-80;
        border-right: 15vw solid $light-gray-80;
        border-bottom: 80px solid $light-gray-80;
    } 

}