//
// header
//
//
//   @media (min-width: 769px) {} 


.header-bar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    width: 100%;
    background-color: $white-90;
    z-index: 500;

    

    .logo {
        display: inline-block;
        padding: 0 0 0 10px;
    }
    
    .logo img{
        height: 30px;
        width: auto;
    }
    
    @media (min-width: 930px) {
        position: relative;
    } 


}

//////////////////////////////////
////////////////////////pc-nav
//   @media (min-width: 769px) {} 


.pc-nav {
    display: none;


    @media (min-width: 930px) {
            display: flex;
            position: absolute;
            top: 0px;
            left: 200px;
            z-index: 501;
            margin:  0 auto;
            width: calc(100% - 200px);
        
        ul{
            display: flex;
            align-items:start;
            justify-content: space-between;        
            height: 50px;
            margin: 0;
            padding: 0;
            width: calc(100% - 250px);
            max-width: 750px;

            li{
                height: 50px;
                list-style: none;
                display: block;
                font-size: 1.6rem;
                line-height: 3.0;
                font-weight: 500;
                padding-bottom: 10px;

                a:hover{
                    padding-bottom: 10px;
                    border-bottom: 5px solid $light-blue;
                  
                }



                
            }

        }

        .pc-nav-contact{
            width: 220px;
            position: absolute;
            top: 0px;
            right: 0px;

            display: inline-block;
            height: 50px;
            margin:  0 auto;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: $light-blue;
            line-height: 3.25;
            a{
                margin:  0 auto;
                padding: 0;
            }
            a:hover{
                color:$white;
                border-bottom: 0px solid $white;
            }


        }

    } 

    @media (min-width: 1370px) {
        .pc-nav-contact{
            width: 240px;
            padding:  0 30px;
        }
    } 

}





//////////////////////////////////
//////////////////////// cover

.cover{
    position: relative;

    margin-top: 50px;
    width: 100%;
    height: 75vw;

    background-image: url("../images/sp-cover.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: 2px solid $black;

    @media (min-width: 769px) {
        margin: 0;
        height: 30vw;
        background-image: url("../images/cover.jpg");

    }


}

.cover{
    &.about-c{
        background-image: url("../images/sp/sp-office-03.jpg");
        @media (min-width: 769px) {
            background-image: url("../images//office-03.jpg");
    
        }
    }
}

.catch {
    position: absolute;
    margin: 40px 0 0 20px;

    height: 90px;
    width: 230px;
    background-color: $black-80;
    color: $white;
    line-height: 1.5;

    @media (min-width: 769px) {
        margin: 60px 0 0 40px;
        height: 150px;
        min-width: 500px;
        width: 40vw;

    }
}


.catch-one {
    font-weight: bold;
    margin: 15px 0 0 20px;

    @media (min-width: 769px) {
        margin: 30px 0 0 40px;
        font-size: 2.0rem;
        font-weight:400;

    }
}


.catch-two {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 0 20px;
    @media (min-width: 769px) {
        margin: 0 0 0 40px;
        font-size: 4.8rem;
        font-weight:400;

    }
}

.catch{
    &.pc-catch{
        @media (min-width: 769px) {
            height: 100px;
            .catch-one{
                font-size: 1.6rem;
                margin: 10px 0 0 40px;
            }

            .catch-two{
                font-size: 2.8rem;
                margin: 0px 0 0 40px;
            }
        } 
    }
}

//////////////////////////////////
////////////////////////slideshow

.wrap {
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
   

    //border-top: 2px solid $black;
    border-bottom: 2px solid $black;
}
.slideshow {
    display: flex;
    padding: 0;
    animation: loop-slide 15s infinite linear 1s both;

    list-style:none;

}
@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}


.content {
    width: 620px;
    height: 40px;

    font-size: 1.6rem;
    //font-weight: 200;

    a{
        display: inline-block;
        margin: 0 auto;
        padding-top: 5px;
    }
}

.content:nth-child(1) {
    background-color: $light-blue;
    a{
        color: $white;
    }
}

.content:nth-child(2) {
    background-color: $light-gray;
}

.content:nth-child(3) {
    background-color: $white;
}



//////////////////////////////
////////////////////////hover

.content:hover{
    font-weight: bold;
}

