//
// footer
//
//
//   @media (min-width: 769px) {} 



.footer {
    height: 80px;
    width: 100%;
    background-color: $black;
    color: $white;
    text-align: center;
}

.footer a{
    color: $white;
}

.footer small {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.footer-content {
    padding-top: 20px;
    line-height: 1.25;
}