//
// about
//
//
//   @media (min-width: 769px) {} 



.about {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;

    text-align: center;
    position: relative;
}

.about p{
    line-height: 1;
}


.about-border{
    width: calc(100%-40px);
    //max-width: 500px;
    margin: 0 20px;
    padding: 0 0 20px 0;
    border: 2px solid $light-blue;

    @media (min-width: 769px) {
        margin: -25px 15vw;
        padding: 100px 0  150px 0;
    }
}


.section-tytle{
    &.about{
        margin-top: 0px;
        padding-top: 20px;
    }
    .tytle{
        margin-top: 0px;
        padding-top: 0px;
    }


} 


//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.about-b{
        position: absolute;
        top: 215px;
        left: calc(calc(100vw /2) - 63px);
        margin: 0 auto;

        @media (min-width: 769px) {
            top: 385px;
            left: calc(calc(100vw /2) - 70px);
        }
    }
} 



//////////////////////////////////
//////////////////////// 下層ページ


.more-button{
    &.about-office-b{
        width: calc(100% - 40px);
        margin: 0 auto;


    }

    &.about-service-b{
        width: calc(100% - 40px);
        margin: 0 auto;


    }
} 



////////// about-sample-office
.about-sample-office{
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: 20px;
    margin-right: 20px;


}
.a-so-tytle{
    margin-left: -5px; 
}


.a-so-work-style{
    margin: 30px 0;

    font-size: 1.8rem;
    line-height: 2.0;
}

////////// about-office
.about-office{
    margin-top: $margin-top;
    margin-bottom: 75px;
    margin-left: 20px;
    margin-right: 20px;
}


.carousel{
    margin-left: -20px;
    margin-right: -20px;
}


////////// about-service

.about-service{
    margin-top: $margin-top;
    margin-bottom: 75px;
    margin-left: 20px;
    margin-right: 20px;
}



.service-free{
    .service-item{
        margin: 10px 0;
        padding: 10px 0; 
        background-color: $light-gray-60;
    }
}


.service-paid{
    .service-item{
        margin: 10px 0;
        padding: 10px 0; 
        background-color: $light-gray-60;
    }
}

.service-item{
    .s-item{
        display: flex;
        align-items: center;

        i{
            width: 50px;
            margin: 0px 20px;
            font-size: 3.0rem;
            text-align: center;
        }

        p{ 
            &.etc{
                margin-left:auto;
                margin-right: 40px;
            }

        }
    }
}

.notice{
    margin: 20px 0;
    line-height: 1.0;

}

//////////////////////////////

.pc-about-border{
    display: none;
    @media (min-width: 769px) {

        display:inline-block;
        margin: 0;
        width: 100%;
        box-sizing: border-box;

        border-top: 50px solid $light-gray-80;
        border-left: 15vw solid $light-gray-80;
        border-right: 15vw solid $light-gray-80;
        border-bottom: 50px solid $light-gray-80;
    } 

}