//
// base
//
//
//   @media (min-width: 769px) {} 

//////////////////////////////////
//////////////////////// 変数 colour
$invisible: rgba(0, 0, 0, 0);

$white: #F7F7F7;
$white-50: rgba(247, 247, 247, 0.5);
$white-70: rgba(247, 247, 247, 0.7);
$white-80: rgba(247, 247, 247, 0.8);
$white-90: rgba(247, 247, 247, 0.9);



$light-gray: #CED7D9;
$light-gray-60: rgba(206, 215, 217, 0.6);
$light-gray-80: rgba(206, 215, 217, 0.8);

$light-blue: #99C5CC;
$light-blue-30: rgba(153, 197, 204, 0.3);
$light-blue-60: rgba(153, 197, 204, 0.6);
$light-blue-80: rgba(153, 197, 204, 0.8);
$light-blue-90: rgba(153, 197, 204, 0.9);

$dark-gray: #5C6566;
$dark-gray-10: rgba(92, 101, 102, 0.1);
$dark-gray-60: rgba(92, 101, 102, 0.6);
$dark-gray-80: rgba(92, 101, 102, 0.8);


$pure-black: #000000; 
$black: #2E3233;
$black-10: rgba(46, 50, 51, 0.1);
$black-50: rgba(46, 50, 51, 0.5);
$black-80: rgba(46, 50, 51, 0.8);
$black-90: #2e3233e6;

$light-pink:#f1dde2;

//////////////////////////////////
//////////////////////// 変数 margin
$margin-top: 50px;
$margin-bottom: 50px;

$margin-top-pc: 100px;


$padding-top: 50px;
$margin-bottom: 25px;


//////////////////////////////////
//////////////////////// ベーススタイル
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: $black;
  background-color: $white;

}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: $black;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}


em {
  font-style: normal;
  background:linear-gradient(transparent 65%, $light-blue-60 0%);
}

h2{
  font-size: 2.4rem;
}


.section-tytle{
  padding-top: $padding-top;
  
  .sub-tytle{
    line-height: 1;
  }
}


.more-button {
  height: 40px;
  width: 120px;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 auto;
  background-color: $white;
  border: 2px solid $light-blue;
  box-shadow: 2px 2px 0px 0 $light-blue;
  text-align: center;
  line-height: 2.25;



  @media (min-width: 769px) {
    height: 50px;
    width: 180px;
    font-size: 1.8rem;
    line-height: 2.75;
  }
}

