//
// office
//
//
//   @media (min-width: 769px) {} 



.office{
    margin-top: $margin-top;
    margin-bottom: 0px;
    padding-bottom: 50px;
    
    background:
        linear-gradient(127deg, $black, $invisible 70.71%), 
        linear-gradient(217deg, $dark-gray, $invisible 70.71%),
        linear-gradient(336deg, $black, $invisible 70.71%);


    color: $white;
    text-align: center;

    @media (min-width: 769px) {
        margin-top: $margin-top-pc;
        padding-bottom: 100px;

        background:none;
        background-color: $dark-gray-10;
        color: $black;


    } 



    .tytle{
        @media (min-width: 769px) {

            width: 200px;
            margin:0 auto;
            margin-top: 50px;
            border-top: 10px double $black;
            padding-top: 20px;
    
        } 
    
    }

}

.office-content{
    margin-top: $margin-top;

    display: flex;
   // flex-wrap: wrap;

    &.two{
        margin-top: 5px; 
        flex-direction: row-reverse;
    }
    &.three{
        margin-top: 5px; 
        
    }



}


.office-image { 
    width: 80vw;
    height: 60vw;
    //border: 1px solid $white;
    box-shadow: 5px 10px 10px 0 $dark-gray-80;
    box-sizing: border-box;

    @media (min-width: 769px) {
        box-shadow: none;
        box-shadow: 0px 5px 5px 0 $dark-gray-80;
    } 


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.office-detail{
    margin-top: 40vw;
    margin-left: -140px;
    height: 60px;
    width: 50%;
    
    background-color:$black-50;
    box-shadow: 5px 10px 10px 0 $dark-gray-80;
    line-height: 0.5;

    &.two{
        margin-right: -140px;
    }


    .office-access{
        font-size: 1.2rem;

       
    }

    @media (min-width: 769px) {
        background-color:$white-50;
        box-shadow: 0px 5px 5px 0 $dark-gray-80;
        
    } 


}


//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.office-b{
        margin-top: $margin-top;
    }
}



//////////////////////////////////
//////////////////////// 下層ページ

.cover{
    &.office-c{
        background-image: url("../images/sp/sp-office-06.jpg");

        @media (min-width: 769px) {
            background-image: url("../images/office-06.jpg");
        } 
    }
}



.office-sub-tytle{
    margin: 20px 20px;
    line-height: 1.5;
    @media (min-width: 769px) {
        
        margin: 20px 150px;
        font-size: 2.0rem;
    } 

}

.office-list{
    width: calc(100% - 40px);
    margin: 0 auto;

    @media (min-width: 769px) {
        max-width: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
    }
}



////////////////////////////////////

.office-item{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    display: inline-block;
    box-shadow: 0px 10px 10px 0 $dark-gray-80;


    @media (min-width: 769px) {
        display: flex;
        height: 475px;
        width: 700px;
        margin: 0 auto;
        margin-bottom: 100px;

    } 

    .office-image{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        box-shadow: none;

        @media (min-width: 769px) {
            height: 100%;
            width: 350px;
            
            
        } 



    }

    .office-info{
        height: 435px;
        width: 100%;
        margin: 0 auto;
        color: $black;

        @media (min-width: 769px) {
            width: 50%;
            margin:0;
        } 


        .office-name{
            width: auto;
            margin: 30px 20px;
            padding-bottom: 5px;
            font-size: 2.2rem;
            border-bottom: 10px double $light-gray;
        }

        .office-address{
            padding: 0 20px;
            line-height: 0.8;
        }
        .office-access{
            padding: 0 20px;
            line-height: 0.8;
        }
    }
}



//////////////////////////// google-map

.office-item{
    .office-info{
        .office-map{
            height: 250px;
            width: 100%;
            margin-top: 50px;
            .google-map{
                background-color: $light-gray-80;
                height: 100%;
                width: 100%;
                @media (min-width: 769px) {

                    border-top: 5px solid $light-gray;
                    border-bottom: 5px solid $light-gray;
                    box-sizing: border-box;
                } 


            }
        }
    }
}

/////////////////////////////////////////

.links{
    margin-top: $margin-top;
}
.more-button{
    &.office-about-b{
        width: calc(100% - 40px);
        margin-bottom: $margin-bottom;
        //border: 2px solid $dark-gray;
        //box-shadow: 2px 2px 0px 0 $dark-gray;

    }

    &.office-service-b{
        width: calc(100% - 40px);
        margin-bottom: $margin-bottom;


    }
} 

///////////////////////////////////////////////////////


.office-content{
    @media (min-width: 769px) {

        display: inline-block;
        max-width: calc(1500px / 3);
        width: calc(calc(100vw - 40px) / 3);
        padding: 0 20px;
        margin: 50px 0 0 0;
        box-sizing: border-box;

        &.two{
            margin: 50px 0 0 0;
        }

        &.three{
            margin: 50px 0 0 0;
        }


    } 
}

.office-image { 

    @media (min-width: 769px) {
        max-height: calc(2000px / 3);
        height: calc(calc(100vw - 40px) / 3);
        width: 100%;
        margin: 0;
    }
}

.office-detail{

    @media (min-width: 769px) {
        height: 100px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px 0 0 0;
        font-size: 1.8rem;
        box-sizing: border-box;
        //color: $black;
        box-shadow: 0px 5px 5px 0 $dark-gray-80;
        &.two{
            margin: 0 auto;
            margin-top: 10px;
        }
        .office-name{
            line-height: 1.75;
            margin: 0;
        }
        .office-access{
            font-size: 1.6rem;
            line-height: 1.5;
            margin: 0;
        }

    }
}