//
// plan
//
//
//   @media (min-width: 769px) {} 



.plan{
    margin-top: 0px;
    padding-bottom: 50px;

    background-color: $light-blue;
    background:
    linear-gradient(127deg, $light-blue, $invisible 70.71%), 
    linear-gradient(217deg, $white, $invisible 70.71%),
    linear-gradient(336deg, $light-blue, $invisible 70.71%);

    text-align: center;


    @media (min-width: 769px) {
        margin-top: $margin-top-pc;
        background:none;
        background-color: $light-blue-30;


    } 


    .tytle{
        @media (min-width: 769px) {

            width: 200px;
            margin:0 auto;
            margin-top: 50px;
            border-top: 10px double $light-blue;
            padding-top: 20px;
    
        } 
    
    }






}

.plan-content{
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @media (min-width: 1367px) {
        width:1347px;
      } 


}


.plan-detail{
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 50px;
    box-sizing: border-box;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    line-height: 1.2;

    background-color: $white;
    box-shadow: 0px 5px 5px 0 $dark-gray-80;




    .plan-tytle{
        font-size: 2.4rem;
        font-weight: bold;
        width: 100%;
        margin: 0;


    }


    .plan-month{
        font-size: 1.6rem;
        margin: 0 0 3px 0;
    }

    .plan-price{
        font-size: 2.6rem;
        margin: 0;
    }

    .plan-price-yen{
        width: auto;
        font-size: 1.2rem;
        margin: 0 0 3px 0;
    }

    &.two-place{
        background-color: $black;
        color: $white;
    }


    .spacer{
        width: 100%;
    }
}



//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.plan-b{
        margin-top: $margin-top;

        background-color: $light-gray;
        border-color: $white;
        box-shadow: 2px 2px 0px 0 $white;

        @media (min-width: 769px) {
            box-shadow: 3px 3px 0px 0 $white;

        } 

    }
} 

.more-button:hover{
    box-shadow: none;
  
  }

//////////////////////////////////
//////////////////////// 下層ページ

.cover{
    &.plan-c{
        background-image: url("../images/sp/sp-office-05.jpg");

        @media (min-width: 769px) {
            background-image: url("../images/office-05.jpg");
        } 
    }

}

.plan-sub-tytle{
    margin: 20px 20px;
    line-height: 1.5;
    @media (min-width: 769px) {
        
        margin: 20px 150px;
        font-size: 2.0rem;
    } 

}


//////////////////////// price

.plan-price{
    margin: 0 20px 50px 20px;
}


.pl-pr-flex{
    @media (min-width: 769px) {
        max-width: 1560px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
      
        gap: 30px;
    }
}

.pl-pr-item{
    width: 100%;
    margin:  0 auto;
    margin-bottom: 50px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    border: 5px solid $light-blue;


    background-color: $white;
    box-shadow: 0px 5px 5px 0 $dark-gray-80;
    
    &.two-base{
        border: 5px solid $dark-gray;
    }

    @media (min-width: 769px) {
        width:  calc(calc(100% - 60px) / 3);
        min-width: 450px;
        max-width: 500px;
       
      //  box-shadow: 0px 5px 5px 0 $dark-gray-80;
        padding: 20px 30px 50px 30px;
        box-sizing: border-box;
    }


    .bold{
        font-weight: bold;  
    }
    h2{
      //  margin-bottom: 0;
    }

    .pl-pr-tytle{
        width: 100%;
    }

    .pl-pr-line{
        height: 15px;
        width: 100%;
        background: linear-gradient( 90deg, $white, $light-blue 97.98%);
        margin: 0 0 30px 0;
    }

    &.two-base{
        .pl-pr-line{
            background: linear-gradient( 90deg, $white, $black 97.98%);
            
        }
    }

    p{
        margin:  0.5rem 0;
    }

    .pl-pr-detail{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        margin: 5px 0;
        
        @media (min-width: 769px) {
            font-size: 1.8rem;
            line-height: 2.0;
        }


        .bold{
            width: 25%;
            @media (min-width: 769px) {
                width: 30%;
            }
        }
        .p-detail{
            width: 75%;
            @media (min-width: 769px) {
                width: 70%;
            }
        }
    }

}


//////////////////////// service

.plan-service{
    margin: 0 20px 50px 20px;

}


//////////////////////// campaign

.plan-campaign{
    margin: 75px 20px;
    padding: 10px 10px;
    
    border-radius: 10px;
    border: $light-blue 15px solid;
    background-color: #fff;
    text-align: center;
}

.p-c-tytle{
    font-size: 2.0rem;
}

.p-c-text{
    padding: 0px 10px;

}

.p-c-code{
    padding: 15px;
    font-size: 2.0rem;
    font-weight: bold;

    background-color: $light-blue;
    border-radius: 50px;
   
}