//
// plan
//
//
//   @media (min-width: 769px) {} 



.plan{
    margin-top: 2px;
    padding-bottom: 50px;

    background-color: $white;
    background:
    linear-gradient(127deg, $light-blue, $invisible 70.71%), 
    linear-gradient(217deg, $white, $invisible 70.71%),
    linear-gradient(336deg, $light-blue, $invisible 70.71%);

    text-align: center;
}

.plan-content{
    margin: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.plan-line{
    height: auto;
    width: 5px;
    margin-top: 20px;
    border-left: 5px solid $white;
    background-color: $light-blue;

    &.two-place{
        border-left: 5px solid $black;
    }
}


.plan-detail{
    height: auto;
    width: calc(100% - 10px);
    margin-top: 20px;
    padding: 20px 0 20px 16vw;
    box-sizing: border-box;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    line-height: 1.2;

    background-color: $white;

    .plan-tytle{
        font-size: 2.4rem;
        font-weight: bold;
        width: 100%;
        margin: 0;
    }


    .plan-month{
        font-size: 1.6rem;
        margin: 0 0 3px 0;
    }

    .plan-price{
        font-size: 2.6rem;
        margin: 0;
    }

    .plan-price-yen{
        width: auto;
        font-size: 1.2rem;
        margin: 0 0 3px 0;
    }

    &.two-place{
        background-color: $black;
        color: $white;
    }


    .spacer{
        width: 100%;
    }
}



//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.plan-b{
        margin-top: $margin-top;

        background-color: $light-gray;
        border-color: $white;
        box-shadow: 3px 3px 0px 0 $white;
    }
} 




//////////////////////////////////
//////////////////////// 下層ページ

.cover{
    &.plan-c{
        background-image: url("../images/sp/sp-office-05.jpg");
    }
}

.plan-sub-tytle{
    margin: 20px 20px;
    line-height: 1.5;
}


//////////////////////// price

.plan-price{
    margin: 0 20px 50px 20px;
}


.pl-pr-item{
    width: 100%;
    margin:  0 auto;
    margin-bottom: 50px;
    //background-color: $light-gray-80;

    .bold{
        font-weight: bold;  
    }
    h2{
        margin-bottom: 0;
    }

    .pl-pr-tytle{
        width: 100%;
    }

    .pl-pr-line{
        height: 5px;
        width: 100%;
        background: linear-gradient( 90deg, $white, $light-blue 97.98%);
        margin: 0;
    }

    &.two-base{
        .pl-pr-line{
            background: linear-gradient( 90deg, $white, $black 97.98%);
        }
    }

    p{
        margin:  0.5rem 0;
        //line-height: 1.0;
    }

    .pl-pr-detail{
        display: flex;
        flex-wrap: nowrap;

        width: 100%;
        height: auto;
        margin: 5px 0;
        //box-sizing: border-box;
       //background-color: $light-gray-80;
        
        .bold{
            width: 25%;
            //border: 1px solid $black;
            //background-color: $light-gray-80;
        }

        .p-detail{
            width: 75%;
           // border: 1px solid $black;
            //           background-color: $light-blue-80;
        }

    }

}


//////////////////////// service

.plan-service{
    margin: 0 20px 50px 20px;

}


//////////////////////// campaign

.plan-campaign{
    margin: 75px 20px;
    padding: 10px 10px;
    border: $light-pink 15px solid;
    text-align: center;
}

.p-c-tytle{
    font-size: 2.0rem;
}

.p-c-text{
    padding: 0px 10px;

}

.p-c-code{
    padding: 15px;
    font-size: 2.0rem;
    font-weight: bold;

    background-color: $light-pink;
    border-radius: 50px;
   
}