//
// plan
//
//
//   @media (min-width: 769px) {} 



.plan{
    margin-top: 0px;
    padding-bottom: 50px;

    background-color: $light-blue;
    background:
    linear-gradient(127deg, $light-blue, $invisible 70.71%), 
    linear-gradient(217deg, $white, $invisible 70.71%),
    linear-gradient(336deg, $light-blue, $invisible 70.71%);

    text-align: center;


    @media (min-width: 769px) {
        margin-top: $margin-top-pc;
        background:none;
        background-color: $light-blue-30;


    } 


    .tytle{
        @media (min-width: 769px) {

            width: 200px;
            margin:0 auto;
            margin-top: 50px;
            border-top: 10px double $light-blue;
            padding-top: 20px;
    
        } 
    
    }






}

.plan-content{
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @media (min-width: 1367px) {
        width:1347px;
      } 


}


.plan-detail{
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 50px;
    box-sizing: border-box;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    line-height: 1.2;

    background-color: $white;
    box-shadow: 0px 5px 5px 0 $dark-gray-80;

    border: 5px solid $white;
    border-image: linear-gradient(to right, $white 0%, $light-blue 100%);
    border-image-slice: 1;


    .plan-tytle{
        font-size: 2.4rem;
        font-weight: bold;
        width: 100%;
        margin: 0;


    }


    .plan-month{
        font-size: 1.6rem;
        margin: 0 0 3px 0;
    }

    .plan-price{
        font-size: 2.6rem;
        margin: 0;
    }

    .plan-price-yen{
        width: auto;
        font-size: 1.2rem;
        margin: 0 0 3px 0;
    }

    &.two-place{
        background-color: $black;
        color: $white;

        border-image: linear-gradient(to right, $black 0%, $light-gray 100%);
        border-image-slice: 1;

        a{
            background-color: $light-gray;
            color: $black;
        }

    }


    .spacer{
        width: 100%;
    }

    a{ 
        position: absolute;
        right: 40px;

        padding: 5px 7.5px;
        border-radius: 5px;
        
        background-color: $light-blue;
        color: $white;

        @media (min-width: 400px) {
            position: relative;
            right: 0;
            margin-left: auto;

        }


    }


}



//////////////////////////////////
//////////////////////// more-button
.more-button{
    &.plan-b{
        margin-top: $margin-top;

        background-color: $light-gray;
        border-color: $white;
        box-shadow: 10px 10px 0px 0 $white;

        @media (min-width: 769px) {
            box-shadow: 10px 10px 0px 0 $white;

        } 

    }
} 


//////////////////////////////////
//////////////////////// 下層ページ

.cover{
    &.plan-c{
        background-image: url("../images/sp/sp-office-05.jpg");

        @media (min-width: 769px) {
            background-image: url("../images/office-05.jpg");
        } 
    }

}

.plan-sub-tytle{
    margin: 20px 20px;
    line-height: 1.5;
    @media (min-width: 769px) {
        width:800px;
        margin: 50px auto;
        font-size: 1.8rem;
    } 

}


//////////////////////// price

.plan-price{
    margin: 0 20px 50px 20px;
    @media (min-width: 769px) {
        margin: 0 150px 50px 150px;
    }
}


.pl-pr-flex{
    @media (min-width: 769px) {
        max-width: 1420px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
      
        gap: 30px;
    }
}

.pl-pr-item{
    width: 100%;
    margin:  0 auto;
    margin-bottom: 50px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    border: 5px solid $light-blue;
    
    border-image: linear-gradient(to right, $light-gray 0%, $light-blue 100%);
    border-image-slice: 1;
   
    background-color: $white;
    box-shadow: 0px 5px 5px 0 $dark-gray-80;
    


    @media (min-width: 769px) {
        width: 45%;
        min-width: 350px;
       // max-width: 475px;
       
        padding: 20px 30px;
        box-sizing: border-box;
    }

    &.two-base{
        //  border: 5px solid $dark-gray;
        border-image: linear-gradient(to right, $light-gray 0%, $black 100%);
        border-image-slice: 1;
    

    
    }


    .bold{
        font-weight: bold;  
    }
    h3{
        margin: 10px 0px;
    }

    .pl-pr-tytle{
        width: 100%;
        //text-align: center;
        
    }


    .pl-pr-line{
        height: 5px;
        width: 100%;
        background: linear-gradient( 90deg, $light-gray, $light-blue 90.91%);
        margin: 0 0 10px 0;
    }

    &.two-base{
        .pl-pr-line{
            background: linear-gradient( 90deg, $white, $black 97.98%);
            
        }
    }

    p{
      margin: 0;
      line-height: 1.5;
    }

    .pl-pr-detail{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        margin: 10px 0;
        
        @media (min-width: 769px) {
            line-height: 1.5;
        }


        .bold{
            width: 25%;
            @media (min-width: 769px) {
                width: 30%;
            }
        }
        .p-detail{
            width: 75%;
            @media (min-width: 769px) {
                width: 70%;
            }
        }
    }

}



.pl-pr-plan{
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: $dark-gray-10;

    @media (min-width: 769px) {
        max-width: 700px;
        //padding: 20px 100px;
        box-sizing: border-box;
    }


    h3{
        text-align: center;
        margin: 0;
    }
    p{
        font-size: 1.4rem;
    }





}

.plan-flex{
    width: 100%;
    
    @media (min-width: 769px) {
        max-width: 800px;
    }

   .plus{
        font-size: 3.0rem;
        margin: 0;
    }

    .plan-upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;

        i{
            margin: 0 auto;
            text-align: center;
            box-sizing: border-box;
            font-size: 4.0rem;
        }
    }

    .plan-lower{
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;      

        p{
            width: 50%;
            margin: 0;
        }

    }
}

//////////////////////// service

.plan-service{
    margin: 0 20px 50px 20px;

    @media (min-width: 769px) {
        margin: 0 150px 50px 150px;
      
    }


}





.service-free{
    .service-item{
        margin: 10px 0px;
        padding: 10px 0; 
        background-color: $light-gray-60;
        box-shadow: 0px 5px 5px 0 $light-gray;
    }
}


.service-paid{
    .service-item{
        margin: 10px 0;
        padding: 10px 0; 
        background-color: $light-gray-60;
        box-shadow: 0px 5px 5px 0 $light-gray;
    }
}

.service-item{
    .s-item{
        display: flex;
        align-items: center;

        i{
            height: 50px;
            width: 50px;
            margin: 5px 20px;
            padding: 12.5px 5px 5px 5px;
            box-sizing: border-box;
            font-size: 2.2rem;
            text-align: center;
            background-color: $white;

           border: 3px solid $dark-gray;
           border-radius: 10px;
           color: $dark-gray;

            border: 3px solid  $black;
            border-radius: 10px;
            color:  $black;
        }

        p{ 
            &.etc{
                margin-left:auto;
                margin-right: 40px;
            }

        }
    }
}

.notice{
    margin: 20px 0;
    line-height: 1.0;

}






//////////////////////// campaign

.plan-campaign{
    margin: 75px 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: $light-blue 3px solid;
    background-color: #fff;
    text-align: center;

    @media (min-width: 769px) {
        width: 700px;
        margin: 0 auto;
      
    }

}

.p-c-tytle{
    font-size: 2.0rem;
}

.p-c-text{
    padding: 0px 10px;

}

.p-c-code{
    width: 300px;
    margin: 0 auto;
    padding: 5px 0;
    
    font-weight: bold;

    background-color: $light-blue;
    border-radius: 30px;

    @media (min-width: 769px) {
     //   max-width: 350px;
      //  margin: 0 auto;
      
    }
   
}