@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #2E3233;
  background-color: #F7F7F7;
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #2E3233;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

em {
  font-style: normal;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(0%, rgba(153, 197, 204, 0.6)));
  background: linear-gradient(transparent 65%, rgba(153, 197, 204, 0.6) 0%);
}

h2 {
  font-size: 2.4rem;
}

.section-tytle {
  padding-top: 50px;
}

.section-tytle .sub-tytle {
  line-height: 1;
}

.more-button {
  height: 40px;
  width: 120px;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 auto;
  background-color: #F7F7F7;
  border: 2px solid #99C5CC;
  -webkit-box-shadow: 2px 2px 0px 0 #99C5CC;
          box-shadow: 2px 2px 0px 0 #99C5CC;
  text-align: center;
  line-height: 2.25;
}

.header-bar {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: rgba(247, 247, 247, 0.9);
  z-index: 500;
}

.header-bar .logo {
  display: inline-block;
  padding: 0 0 0 10px;
}

.header-bar .logo img {
  height: 30px;
  width: auto;
}

.cover {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 75vw;
  background-image: url("../images/sp-cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #2E3233;
}

.cover.about-c {
  background-image: url("../images/sp/sp-office-03.jpg");
}

.catch {
  position: absolute;
  margin: 40px 0 0 20px;
  height: 90px;
  width: 230px;
  background-color: #2e3233e6;
  color: #F7F7F7;
  line-height: 1.5;
}

.catch-one {
  font-weight: 500;
  margin: 15px 0 0 20px;
}

.catch-two {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0 0 0 20px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  overflow: hidden;
  border-bottom: 2px solid #2E3233;
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-animation: loop-slide 15s infinite linear 1s both;
          animation: loop-slide 15s infinite linear 1s both;
  list-style: none;
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.content {
  width: 530px;
  height: 40px;
  font-size: 1.6rem;
}

.content a {
  display: inline-block;
  margin: 0 auto;
  padding-top: 5px;
}

.content:nth-child(1) {
  background-color: #99C5CC;
}

.content:nth-child(1) a {
  color: #F7F7F7;
}

.content:nth-child(2) {
  background-color: #CED7D9;
}

.content:nth-child(3) {
  background-color: #F7F7F7;
}

.sssp-nav {
  display: none;
  position: fixed;
  top: 5rem;
  right: 0rem;
  height: 100vh;
  width: 100% -5rem;
  background-color: #F7F7F7;
  z-index: 15;
}

@media (min-width: 769px) {
  .sssp-nav {
    display: none;
  }
}

.pc-nav {
  display: none;
}

@media (min-width: 769px) {
  .pc-nav {
    display: inline-block;
  }
}

/*アクティブになったエリア*/
#sp-nav.panelactive {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 800;
  top: 0;
  width: 100%;
  height: 100vh;
}

/*丸の拡大*/
.circle-bg {
  position: fixed;
  z-index: 790;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(127deg, #F7F7F7, rgba(247, 247, 247, 0.7) 70.71%), linear-gradient(217deg, #99C5CC, rgba(153, 197, 204, 0.8) 70.71%);
  /*丸のスタート位置と形状*/
  -webkit-transform: scale(0);
          transform: scale(0);
  /*scaleをはじめは0に*/
  right: -50px;
  top: -50px;
  -webkit-transition: all .6s;
  transition: all .6s;
  /*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive {
  -webkit-transform: scale(50);
          transform: scale(50);
  /*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#sp-nav-list {
  display: none;
  /*はじめは表示なし*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#sp-nav.panelactive #sp-nav-list {
  display: block;
  /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#sp-nav ul {
  opacity: 0;
  /*はじめは透過0*/
  padding: 0;
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.8rem;
  width: 70%;
  margin: 0 30px;
}

/*ナビゲーション*/
#sp-nav-list .contact-tel {
  opacity: 0;
  /*はじめは透過0*/
  padding: 0;
  position: absolute;
  z-index: 1000;
  top: 450px;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  padding: 30px;
  border: 1px solid #2E3233;
  text-align: center;
}

#sp-nav-list .contact-mail {
  opacity: 0;
  /*はじめは透過0*/
  padding: 0;
  position: absolute;
  z-index: 1000;
  top: 540px;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  padding: 30px;
  border: 1px solid #2E3233;
  text-align: center;
}

/*背景が出現後にナビゲーションを表示*/
#sp-nav.panelactive ul {
  opacity: 1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#sp-nav.panelactive ul li {
  -webkit-animation-name: gnaviAnime;
          animation-name: gnaviAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  /*0.2 秒遅らせて出現*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

#sp-nav.panelactive div {
  -webkit-animation-name: gnaviAnime;
          animation-name: gnaviAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  /*0.2 秒遅らせて出現*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*リストのレイアウト設定*/
#sp-nav li {
  text-align: left;
  list-style: none;
}

#sp-nav li.spacer {
  height: 15px;
}

#sp-nav li img {
  height: 35px;
  width: auto;
}

#sp-nav li a {
  color: #2E3233;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #2E3233;
}

#sp-nav li a.logo {
  border: none;
}

.openbtn1 {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 999;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

@media (min-width: 769px) {
  .openbtn1 {
    display: none;
  }
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #2E3233;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.about {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
}

.about p {
  line-height: 1;
}

.about-border {
  width: calc(100%-40px);
  margin: 0 20px;
  padding: 0 0 20px 0;
  border: 2px solid #99C5CC;
}

.section-tytle.about {
  margin-top: 0px;
  padding-top: 20px;
}

.section-tytle .tytle {
  margin-top: 0px;
  padding-top: 0px;
}

.more-button.about-b {
  position: absolute;
  top: 215px;
  left: calc(calc(100vw /2) - 63px);
  margin: 0 auto;
}

.more-button.about-office-b {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.more-button.about-service-b {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.about-sample-office {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.a-so-tytle {
  margin-left: -5px;
}

.a-so-work-style {
  margin: 30px 0;
  font-size: 1.8rem;
  line-height: 2.0;
}

.about-office {
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel {
  margin-left: -20px;
  margin-right: -20px;
}

.about-service {
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

.service-free .service-item {
  margin: 10px 0;
  padding: 10px 0;
  background-color: rgba(206, 215, 217, 0.6);
}

.service-paid .service-item {
  margin: 10px 0;
  padding: 10px 0;
  background-color: rgba(206, 215, 217, 0.6);
}

.service-item .s-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-item .s-item i {
  width: 50px;
  margin: 0px 20px;
  font-size: 3.0rem;
  text-align: center;
}

.service-item .s-item p.etc {
  margin-left: auto;
  margin-right: 40px;
}

.notice {
  margin: 20px 0;
  line-height: 1.0;
}

.office {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  background: linear-gradient(127deg, #2E3233, rgba(0, 0, 0, 0) 70.71%), linear-gradient(217deg, #5C6566, rgba(0, 0, 0, 0) 70.71%), linear-gradient(336deg, #2E3233, rgba(0, 0, 0, 0) 70.71%);
  color: #F7F7F7;
  text-align: center;
}

.office-content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.office-content.two {
  margin-top: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.office-content.three {
  margin-top: 5px;
}

.office-image {
  width: 80vw;
  height: 60vw;
  -webkit-box-shadow: 0px 2px 1px 0 rgba(92, 101, 102, 0.8);
          box-shadow: 0px 2px 1px 0 rgba(92, 101, 102, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.office-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.office-detail {
  margin-top: 40vw;
  margin-left: -140px;
  height: 60px;
  width: 50%;
  background-color: rgba(46, 50, 51, 0.8);
  -webkit-box-shadow: 0px 2px 1px 0 rgba(92, 101, 102, 0.8);
          box-shadow: 0px 2px 1px 0 rgba(92, 101, 102, 0.8);
  line-height: 0.5;
}

.office-detail.two {
  margin-right: -140px;
}

.office-detail .office-access {
  font-size: 1.2rem;
}

.more-button.office-b {
  margin-top: 50px;
}

.cover.office-c {
  background-image: url("../images/sp/sp-office-06.jpg");
}

.office-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.office-sub-tytle {
  margin: 20px 20px;
  line-height: 1.5;
}

.office-item {
  margin-top: 0;
}

.office-item .office-item-bk {
  position: relative;
  height: 670px;
  margin: 0 0 50px 0;
}

.office-item .office-image {
  position: absolute;
  margin: 0 55px 0 20px;
  border-right: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
  z-index: 30;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.office-item .office-line {
  position: absolute;
  top: 15vh;
  right: 35px;
  height: 175px;
  width: 5px;
  z-index: 20;
  background-color: #99C5CC;
}

.office-item .office-info {
  position: absolute;
  top: calc( 15vh + 20px);
  left: 40px;
  height: 500px;
  width: calc(100% - 60px);
  z-index: 10;
  padding: 100px 0px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2E3233;
  color: #F7F7F7;
}

.office-item .office-info .office-name {
  padding: 0 20px;
  font-size: 2.2rem;
  z-index: 50;
}

.office-item .office-info .office-address {
  padding: 0 20px;
  line-height: 0.8;
}

.office-item .office-info .office-access {
  padding: 0 20px;
  line-height: 0.8;
}

.office-item .office-info .office-map {
  height: 220px;
  width: 100%;
  margin-top: 30px;
}

.office-item .office-info .office-map .google-map {
  background-color: #99C5CC;
  height: 100%;
  width: 100%;
}

.links {
  margin-top: 50px;
}

.more-button.office-about-b {
  width: calc(100% - 40px);
  margin-bottom: 25px;
}

.more-button.office-service-b {
  width: calc(100% - 40px);
  margin-bottom: 25px;
}

.plan {
  margin-top: 2px;
  padding-bottom: 50px;
  background-color: #F7F7F7;
  background: linear-gradient(127deg, #99C5CC, rgba(0, 0, 0, 0) 70.71%), linear-gradient(217deg, #F7F7F7, rgba(0, 0, 0, 0) 70.71%), linear-gradient(336deg, #99C5CC, rgba(0, 0, 0, 0) 70.71%);
  text-align: center;
}

.plan-content {
  margin: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.plan-line {
  height: auto;
  width: 5px;
  margin-top: 20px;
  border-left: 5px solid #F7F7F7;
  background-color: #99C5CC;
}

.plan-line.two-place {
  border-left: 5px solid #2E3233;
}

.plan-detail {
  height: auto;
  width: calc(100% - 10px);
  margin-top: 20px;
  padding: 20px 0 20px 16vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1.2;
  background-color: #F7F7F7;
}

.plan-detail .plan-tytle {
  font-size: 2.4rem;
  font-weight: bold;
  width: 100%;
  margin: 0;
}

.plan-detail .plan-month {
  font-size: 1.6rem;
  margin: 0 0 3px 0;
}

.plan-detail .plan-price {
  font-size: 2.6rem;
  margin: 0;
}

.plan-detail .plan-price-yen {
  width: auto;
  font-size: 1.2rem;
  margin: 0 0 3px 0;
}

.plan-detail.two-place {
  background-color: #2E3233;
  color: #F7F7F7;
}

.plan-detail .spacer {
  width: 100%;
}

.more-button.plan-b {
  margin-top: 50px;
  background-color: #CED7D9;
  border-color: #F7F7F7;
  -webkit-box-shadow: 3px 3px 0px 0 #F7F7F7;
          box-shadow: 3px 3px 0px 0 #F7F7F7;
}

.cover.plan-c {
  background-image: url("../images/sp/sp-office-05.jpg");
}

.pl-pr-item {
  width: calc(100% - 40px);
  margin: 30px auto;
}

.pl-pr-item .bold {
  font-weight: bold;
}

.pl-pr-item h2 {
  margin-bottom: 0;
}

.pl-pr-item .pl-pr-tytle {
  width: 100%;
}

.pl-pr-item .pl-pr-line {
  height: 5px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#99C5CC), color-stop(90.91%, #F7F7F7));
  background: linear-gradient(90deg, #99C5CC, #F7F7F7 90.91%);
  margin: -5px 0 0 0;
}

.pl-pr-item p {
  margin: 0;
}

.pl-pr-item .pl-pr-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: auto;
  margin: 5px 0;
}

.pl-pr-item .pl-pr-detail .bold {
  width: 25%;
}

.pl-pr-item .pl-pr-detail .p-detail {
  width: 75%;
}

.pl-pr-line-pink {
  height: 5px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#edc5d0), color-stop(90.91%, #F7F7F7));
  background: linear-gradient(90deg, #edc5d0, #F7F7F7 90.91%);
  margin-top: -5px;
}

.faq {
  padding-bottom: 50px;
  text-align: center;
  z-index: 10;
}

.question {
  margin: 20px 30px 0 30px;
  border: 1px solid #5C6566;
  border-radius: 30px;
  line-height: 1;
  text-align: left;
  z-index: 20;
}

.question.white-shadow {
  opacity: 0.5;
}

.ques {
  margin-left: 20px;
}

.more-button.faq-b {
  margin-top: -20px;
  position: relative;
  z-index: 40;
}

.cover.faq-c {
  background-image: none;
  background-color: #F7F7F7;
  background: linear-gradient(217deg, rgba(153, 197, 204, 0.8), rgba(0, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(92, 101, 102, 0.8), rgba(0, 0, 0, 0) 70.71%), linear-gradient(336deg, rgba(247, 247, 247, 0.7), rgba(0, 0, 0, 0) 70.71%);
  border: none;
  height: 200px;
}

.section.s_01 {
  margin-top: 50px;
  margin-bottom: 100px;
}

.s_01 .accordion_one {
  width: calc(100% - 40px);
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.s_01 .accordion_one .accordion_header {
  background-color: #F7F7F7;
  color: #2E3233;
  font-size: 26px;
  padding: 20px 11%;
  text-align: left;
  position: relative;
  z-index: +1;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border: 1px solid #5C6566;
  border-radius: 100px;
}

.s_01 .accordion_one .accordion_header:hover {
  opacity: .8;
}

.s_01 .accordion_one .accordion_header .i_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: relative;
}

.s_01 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before, .s_01 .accordion_one .accordion_header .i_box .one_i:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  background-color: #2E3233;
  border-radius: 10px;
  width: 18px;
  height: 2px;
  position: absolute;
  top: 8px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before {
  width: 2px;
  height: 18px;
  top: 0;
  left: 8px;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner {
  display: none;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(206, 215, 217, 0.6);
  border: 1px solid #5C6566;
  margin-top: 10px;
  border-radius: 30px;
}

.s_01 .accordion_one .accordion_inner .box_one {
  height: 200px;
}

.s_01 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 18px;
  }
  .s_01 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}

@media screen and (max-width: 769px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 10px 50px 10px 20px;
  }
}

.carousel img {
  width: 100%;
  height: auto;
}

@media (min-width: 769px) {
  .carousel img {
    width: 100vw;
    height: 100%;
  }
}

.slick-dots {
  position: absolute;
  top: 88%;
  margin: auto 0;
}

.slick-dots li button {
  color: #F7F7F7;
}

.slick-dots li button:before {
  opacity: none;
  color: #F7F7F7;
}

.slick-dots li.slick-active button:before {
  opacity: none;
  color: #CED7D9;
}

.contact {
  height: auto;
  width: 100%;
  text-align: center;
  background-image: url("../images/sp-cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F7F7F7;
}

.contact .tytle {
  margin-bottom: 50px;
}

.background-black {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background-color: rgba(46, 50, 51, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.contact-tel {
  width: calc(100% - 80px);
  margin: 0 40px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F7F7F7;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
}

.contact-tel .fa-phone-alt {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: 3.2rem;
}

.contact-tel .tel-latter {
  display: inline-block;
  padding: 0 0 0 10px;
}

.contact-tel .tel-latter .number {
  margin: 0;
  font-size: 2.2rem;
  display: inline-block;
}

.contact-tel .tel-latter .hour {
  margin: 5px 0 0 0;
  font-size: 1.2rem;
}

.contact-mail {
  width: calc(100% - 80px);
  margin: 30px 40px 0 40px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F7F7F7;
  font-size: 1.8rem;
}

.contact-mail p {
  margin: 0;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: #2E3233;
  color: #F7F7F7;
  text-align: center;
}

.footer a {
  color: #F7F7F7;
}

.footer small {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  padding-top: 20px;
  line-height: 1.25;
}
/*# sourceMappingURL=style.css.map */