//
// footer
//
//
//   @media (min-width: 769px) {} 



.footer {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: $orange;
    color: $dark-brown;
    padding: 30px 0 10px 0;
   

    border-top-right-radius: 200px;

    .logo-top{
        height: 50px;
        width: 50px;
        margin: 0 0 0 30px;
    }

    ul{
        text-align: center;

        list-style: none;
        margin: -20px 0 0 0;
        padding: 0;
        font-size: 2.8rem;
        font-weight: 600;

        a{
            color: $dark-brown;
            text-decoration: none;

            &.link-shop{
                color: $white;
                display: inline-block;
                box-sizing: border-box;
            }
        }
    }

    .sns{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3.0rem;
        width: 100%;
        padding: 10px 0;

        .fab{
            width: 55px;
            height: auto;
            color: $dark-brown;
        }

    }




}


.footer small {
    text-align: center;
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
}

.footer-content {
    padding-top: 20px;
    line-height: 1.25;
}