@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Times", "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #594844;
  background-color: #F7F7F7;
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 30px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*各背景の画像*/
.img-bg-01 {
  background-image: url("../images/sp/sp-cover.jpg");
}

.img-bg-02 {
  background-image: url("../images/sp/sp-concept.jpg");
}

.img-bg-03 {
  background-image: url("../images/sp/sp-bg-eye.jpg");
}

.img-bg-04 {
  background-image: url("../images/sp/sp-bg-cheek.jpg");
}

.img-bg-05 {
  background-image: url("../images/sp/sp-bg-lip.jpg");
}

.text-bg {
  height: auto;
  width: 100%;
  background-color: #F7F7F7;
  color: #F7F7F7;
  margin: 20px 0;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-bg .text-box {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.text-bg .text-box h2 {
  font-size: 3.6rem;
  margin: 20px 0;
}

.text-bg .text-box .text-ja {
  line-height: 1.25;
}

.text-bg .text-box .text-en {
  font-size: 1.4rem;
  line-height: 1.0;
}

.text-bg.concept {
  background-color: rgba(153, 123, 116, 0.5);
  color: #594844;
}

.text-bg.eye {
  background-color: rgba(89, 72, 68, 0.8);
  text-align: right;
}

.text-bg.cheek {
  background-color: rgba(242, 222, 206, 0.8);
  color: #594844;
}

.text-bg.lip {
  background-color: rgba(242, 194, 197, 0.8);
  text-align: right;
}

/*スクロールダウン全体の場所*/
.scrolldown1 {
  position: absolute;
  left: 50%;
  bottom: 50px;
  height: 60px;
}

.scrolldown1 span {
  position: absolute;
  left: -15px;
  top: -25px;
  /*テキストの形状*/
  color: #F7F7F7;
  font-size: 1.4rem;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 60px;
  background: #F7F7F7;
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

/*リンクの形状*/
#page-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(247, 247, 247, 0.8);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  color: #f2c2c5;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 769px) {
  #page-top a {
    width: 150px;
  }
}

#page-top a:hover {
  background: rgba(153, 123, 116, 0.8);
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 9001;
  /*はじめは非表示*/
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

/*　左の動き　*/
#page-top.LeftMove {
  -webkit-animation: LeftAnime 0.3s forwards;
          animation: LeftAnime 0.3s forwards;
}

@-webkit-keyframes LeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*　右の動き　*/
#page-top.RightMove {
  -webkit-animation: RightAnime 0.3s forwards;
          animation: RightAnime 0.3s forwards;
}

@-webkit-keyframes RightAnime {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes RightAnime {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: rgba(242, 204, 194, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: rgba(153, 123, 116, 0.8);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.loading-animation img {
  width: 80vw;
}

@media (min-width: 769px) {
  .loading-animation img {
    width: 20vw;
  }
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 9999;
  /*ナビのスタート位置と形状*/
  top: -120%;
  left: 0;
  width: 100%;
  height: 65vh;
  /*ナビの高さ*/
  background: #F2CCC2;
  /*動き*/
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 65vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 9999;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 2.8rem;
  font-weight: 600;
}

#g-nav img {
  width: calc(100% - 60px);
  margin: 30px 30px 0 30px;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#g-nav .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 3.0rem;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 85%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#g-nav .sns .fab {
  width: 55px;
  height: auto;
  color: #F7F7F7;
}

#g-nav .trapezoid {
  position: absolute;
  top: calc( 65vh - 1px);
  width: 0px;
  border-top: 50px solid #F2CCC2;
  border-left: 50vw solid transparent;
  border-right: 50vw solid #F2CCC2;
  border-bottom: 50px solid transparent;
  -webkit-transition: all .4s;
  transition: all .4s;
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #F7F7F7;
}

#g-nav li a.link-shop {
  color: #594844;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: absolute;
  z-index: 9000;
  /*ボタンを最前面に*/
  top: 120px;
  right: 30px;
  cursor: pointer;
  width: 75px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 20px;
  height: 2px;
  background-color: #F7F7F7;
  width: 60%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
  opacity: 0;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
  opacity: 0;
}

.main-cover {
  position: fixed;
  width: 100%;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-cover.active {
  height: 100%;
  visibility: visible;
  background: rgba(89, 72, 68, 0.8);
  z-index: 9002;
}

.parallax-bg .logo-top {
  width: calc(100% - 60px);
  margin: 0 30px;
}

.footer {
  height: auto;
  width: 100%;
  background-color: #F2CCC2;
  color: #594844;
  padding: 30px 0 10px 0;
}

.footer .logo-top {
  height: 50px;
  width: 50px;
  margin: 0 0 0 30px;
}

.footer ul {
  text-align: center;
  list-style: none;
  margin: -20px 0 0 0;
  padding: 0;
  font-size: 2.8rem;
  font-weight: 600;
}

.footer ul a {
  color: #594844;
  text-decoration: none;
}

.footer ul a.link-shop {
  color: #F7F7F7;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 3.0rem;
  width: 100%;
  padding: 10px 0;
}

.footer .sns .fab {
  width: 55px;
  height: auto;
  color: #594844;
}

.footer small {
  text-align: center;
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
}

.footer-content {
  padding-top: 20px;
  line-height: 1.25;
}
/*# sourceMappingURL=style.css.map */