//
// carousel
//
//
//   @media (min-width: 769px) {} 




.carousel {
   
    img {
        width: 100%;
        height: auto;
       @media (min-width: 769px) {
            width: 100vw;
            height: 100%;
       } 
    }
}


.slick-dots{
    position: absolute;
    top: 88%;
    margin:  auto 0;
    opacity: 0;
    li button {
        color: $white;
        opacity: 0;
        }
    li button:before {
        opacity: none;
        color: $white;
        opacity: 0;
        }
    li.slick-active button:before {
        opacity: none;
        color: $light-gray;
        opacity: 0;
        }
    
}


@media (min-width: 769px) {
    .carousel{
        .slick-dots{
            opacity: 0;
        }
    }
}