//
// button
//
//
//   @media (min-width: 769px) {} 


///////////////////////////////////////////////////// 01

.button-01{
  height: 30px;
  width: 150px;
  position: relative;
  text-align: center;
  border: 2px solid $black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  a{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    background: transparent;
  }
 
  :hover{
  background-color: $light-blue;
  }

  :after{
    position: absolute;
    left: 6px;
    bottom: -8px;

    content: "";
    display: table;
    border-left: 2px solid $black;
    border-right: 2px solid $black;
    border-bottom: 2px solid $black;
    width: calc(100% - 12px);
    height: 3px;
    margin: 0;
    border-radius: 4px;

  }


}


///////////////////////////////////////////////////// 02

.button-02{
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  border: 1px solid $black;


  display: flex;
  justify-content: center;
  align-items: center;


  :before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: $light-blue;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
  }
  :hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }


}


///////////////////////////////////////////////////// 03

.button-03{
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;


  a{
    padding: 4px 0 0 4px;
    //background-color: $light-blue-30;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  

    span{
      background-color: transparent;
      background-color: $light-blue;
      transform: translate(-4px, -4px) translateZ(0);
      transition: 0.2s;
      padding: 10px 20px;
      height: 100%;
      width: 150px;
      box-sizing: border-box;
      border: 1px solid $black;

    }
  }

  a:hover{
    span{
    transform: translate(0px, 0px) translateZ(0);

    }
  }


  a:after{
    content: '';
    display: block;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 0;
    right: 0;

    box-sizing: border-box;

    height: 100%;
    width: 150px;


  }




}



///////////////////////////////////////////////////// 04

.button-04{
  height: 100px;
  width: 250px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4.6rem;
  font-weight: 600;
  line-height: 1.5;

  //background-color: $light-blue;

  //background-color: $light-blue-30;



  a{
    padding: 10px 0 0 10px;
    //background-color: $light-blue-30;


    height: 100%;
    width: 250px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  

    span{
      background-color: transparent;
      background-color: $light-blue;
      transform: translate(-10px, -10px) translateZ(0);
      transition: 0.5s;
      padding: 5px 0px;
      height: 100%;
      width: 250px;
      box-sizing: border-box;
      border: 10px solid $black;

    }
  }

  a:hover{
    span{
    transform: translate(0px, 0px) translateZ(0);

    }
  }





  a:after{
    content: '';
    display: block;
    border-right: 10px solid $black;
    border-bottom: 10px solid $black;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 0;
    right: 0;

    box-sizing: border-box;

    height: 100%;
    width: 250px;


  }




}



///////////////////////////////////////////////////// 05

.button-05{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $dark-gray;
  background-color: $light-gray-80;

  a{
    margin: 0;
    line-height: 1;
  }



  a:hover{
    border-bottom: 2px solid $dark-gray;
  }



}

///////////////////////////////////////////////////// 06



///////////////////////////////////////////////////// 07



///////////////////////////////////////////////////// 08