//
// button
//
//
//   @media (min-width: 769px) {} 


.flex-box{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

///////////////////////////////////////////////////// 01

.button-01{
  height: 30px;
  width: 150px;
  position: relative;
  text-align: center;
  border: 2px solid $black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  a{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    background: transparent;
  }
 
  :hover{
  background-color: $light-blue;
  }

  :after{
    position: absolute;
    left: 6px;
    bottom: -8px;

    content: "";
    display: table;
    border-left: 2px solid $black;
    border-right: 2px solid $black;
    border-bottom: 2px solid $black;
    width: calc(100% - 12px);
    height: 3px;
    margin: 0;
    border-radius: 4px;

  }


}


///////////////////////////////////////////////////// 02

.button-02{
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  border: 1px solid $black;


  display: flex;
  justify-content: center;
  align-items: center;


  :before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: $light-blue;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
  }
  :hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }


}


///////////////////////////////////////////////////// 03

.button-03{
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;


  a{
    padding: 4px 0 0 4px;
    //background-color: $light-blue-30;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  

    span{
      background-color: transparent;
      //background-color: $light-blue;
      transform: translate(-4px, -4px) translateZ(0);
      transition: 0.2s;
      padding: 10px 20px;
      height: 100%;
      width: 150px;
      box-sizing: border-box;
      border: 1px solid $black;

    }
  }

  a:hover{
    span{
    transform: translate(0px, 0px) translateZ(0);
    background-color: $light-blue;
    }
  }


  a:after{
    content: '';
    display: block;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 0;
    right: 0;

    box-sizing: border-box;

    height: 100%;
    width: 150px;


  }




}



///////////////////////////////////////////////////// 04

.button-04{
  height: 100px;
  width: 250px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4.6rem;
  font-weight: 600;
  line-height: 1.5;

  //background-color: $light-blue;

  //background-color: $light-blue-30;



  a{
    padding: 10px 0 0 10px;
    //background-color: $light-blue-30;


    height: 100%;
    width: 250px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  

    span{
      background-color: transparent;
      
      transform: translate(-10px, -10px) translateZ(0);
      transition: 0.6s;
      padding: 5px 0px;
      height: 100%;
      width: 250px;
      box-sizing: border-box;
      border: 10px solid $black;

    }
  }

  a:hover{
    span{
    transform: translate(0px, 0px) translateZ(0);
    background-color: $light-blue;

    }
  }





  a:after{
    content: '';
    display: block;
    border-right: 10px solid $black;
    border-bottom: 10px solid $black;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 0;
    right: 0;

    box-sizing: border-box;

    height: 100%;
    width: 250px;


  }




}



///////////////////////////////////////////////////// 05

.button-05{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $dark-gray;
  background-color: $light-gray-80;

  a{
    margin: 0;
    line-height: 1;

    span{
      padding: 0 0 0 10px;
    }
  }



  a:hover{
    border-bottom: 2px solid $dark-gray;
  }



}

///////////////////////////////////////////////////// 06

.button-06{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $dark-gray;
  border-radius: 100px;


  a{
    margin: 0;
    height: 100%;
    width: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      //background-color: $light-blue;
      padding: 5px 0px;
      height: 100%;
      width: 150px;
      border-radius: 100px;
      box-sizing: border-box;
      transition: 0.2s;
      

    }
  }
  a:hover{
    span{
      background-color: $light-blue;
      //color: $black-50;
    }

  }

}


.button-06{
  &.derived{
    border-radius: 10px;
    border: none;
    background-color: $light-blue;

    a{
      span{
        border-radius: 10px;
      }
    }

    a:hover{
      span{
        background-color: $white-50;
      }
    }



  }
}



///////////////////////////////////////////////////// 07

.button-07{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $light-blue;
  border-radius: 100px;


  a{
    margin: 0;
    height: 100%;
    width: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      //background-color: $light-blue;
      //padding: 5px 0px;
      //height: 100%;
      //width: 150px;
      //border-radius: 100px;
      //box-sizing: border-box;

      margin: 0;
      line-height: 1;
      //transition: 0.2s;
      color: $light-blue;

    }
  }
  a:hover{
    span{
      border-bottom: 2px solid $light-blue;
    }

  }

}


///////////////////////////////////////////////////// 08

.button-08{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  //border: 2px solid $light-blue;



  a{
    margin: 0;
    height: 100%;
    width: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      background-color: $light-blue-30;
      padding: 5px 0px;
      height: 100%;
      width: 150px;
      box-sizing: border-box;

      
      transition: 0.2s;
      //color: $light-blue;

    }
  }
  a:hover{
    span{
      background-color: $light-blue;
    }

  }

}



///////////////////////////////////////////////////// 09

.button-09 {
  a{
  display: inline-block;
  padding: 0.8em 3em;
  background-color: $light-blue;
  box-shadow: 0 5px 0 $light-gray;
  border-radius: 60px;
  color: $white;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
  }
  a:hover{
    box-shadow: none;
    transform: translateY(5px);
  }

}


.button-09{
  &.derived{
    a{
      background-color: $light-gray;
      box-shadow: 0 5px 0 $dark-gray;
      color: $dark-gray;
    }
    a:hover{
      box-shadow: 0 5px 0 $dark-gray;
      transform: none;
    }
    a:active{
      box-shadow: none;
      transform: translateY(5px);
    }

  }
}



///////////////////////////////////////////////////// 10


.button-10{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $black;



  a{
    margin: 0;
    height: 100%;
    width: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    //background-color: $light-blue-30;

    :before{
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      height: 30px;
      width: 5px;
      background-color: $light-blue;
    }

    span{
      //background-color: $light-blue-30;
      padding: 5px 0px;
      height: 100%;
      width: 150px;
      box-sizing: border-box;

      
      transition: 0.2s;
      //color: $light-blue;



    }
  }
  a:hover{
    span{
      background-color: $light-blue;
      color: $white;
    }

  }

}

///////////////////////////////////////////////////// 11


.button-11{
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid $light-blue-30;
  border-image: linear-gradient(to right, $white 0%, $light-blue 100%);
  border-image-slice: 1;

  box-shadow: 0px 5px 10px 5px $light-blue-30;



  a{
    margin: 0;
    height: 100%;
    width: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      background-color: none;

      padding: 5px 0px;
      height: 100%;
      width: 150px;
      box-sizing: border-box;

      
      transition: 0.2s;

    }
  }
  a:hover{
    span{
      //background-color: $light-blue;
      //color: $white;
      background: linear-gradient(270deg, $light-blue, $invisible 100.1%);
      //linear-gradient(135deg, $white, $invisible 70.71%);

    }

  }

}

.button-11{
  &.derived{
    //background-color: $light-blue;
    border: none;
    box-shadow: none;

    a{
      span{
       // background: linear-gradient(270deg, $dark-gray, $invisible 70.71%);
        background: linear-gradient(217deg, $light-blue, $invisible 70.71%),
        linear-gradient(127deg, $light-gray, $invisible 70.71%),
        linear-gradient(336deg, $white, $invisible 70.71%);
        border-radius: 40px;
        color: $white;
        text-shadow: 0px 0px 5px $light-blue;
        text-shadow: 0px 0px 15px $dark-gray;
      }
    }
    a:hover{
      span{
        //background-color: $light-blue;
        background: linear-gradient(217deg, $light-blue-80, $invisible 70.71%),
        linear-gradient(127deg, $light-gray-60, $invisible 70.71%),
        linear-gradient(336deg, $white, $invisible 70.71%);
  
      }
    }
  }
}





///////////////////////////////////////////////////// 12

.button-12{
  height: 80px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  a{
    span{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $light-blue-30;
      border-radius:  100% 80px / 80px 100%;
      filter: drop-shadow(5px 5px 5px $light-blue);

      color: $white;
    }
  }

  a:hover{
    span{
      background-color: $light-blue-60;
      border-radius: 80px 100% /  100% 70px;
    }
  }
}


.button-12{
  &.derived{
    height: 80px;
    width: 150px;
    position: relative;
    text-align: center;
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;

    a{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      //background-color: $black;
      span{
        background-color: $light-gray;
        border-radius:   110px 50% / 100% 15px; /* (最初の半径の値) / 左上と右下 | 右上と左下 */
        box-shadow: 5px 5px 5px 0px $dark-gray;
        filter: none;

        color: $dark-gray;
      }
    }



    a:hover{
      span{
        transform: translateY(5px);
        box-shadow: none;
      }
    }
  }
}






///////////////////////////////////////////////////// 13



.button-13{
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  




  a{
    height: 100%;
    width: 100%;
    //padding: 20px 30px;
    box-sizing: border-box;

    //border: 1px solid $black;



    span{

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      height: 100%;
      width: 100%;
      background-color:  $dark-gray;
      color: $white;
    }

    :before,:after{
      content: '';
      position: absolute;
      top: 15px;
      height: 20px;
      width: 20px;

      border-radius: 50%;
      background-color: $white;
    }

    :before{
      left: -10px;
    }

    :after{
      right: -10px;
    }
    
  }

  a:hover{
    span{
      background-color: $dark-gray-80;
    }
  }
  

}

///////////////////////////////////////////////////// 14



.button-14{
  height: 60px;
  width: 180px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  a{
    height: 100%;
    width: 100%;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: 5px solid $black;

      border-image: linear-gradient(to right, 
      $black 0%, 
      $black-80 20%,
      $black-50 30%,
      $light-gray-80 55%, 
      $light-blue-60 80%, 
      $light-blue 100%);

      border-image-slice: 1;

      //background-color:  $dark-gray;
      //color: $white;
    }


    
  }

  a:hover{
    span{

//      color: $white;
    }
  }
  

}


.button-14{
  &.derived{
    height: 150px;
    width: 150px;
    a{
      span{
        border: none;
        //border: 1px solid $light-blue;
        background-image:  radial-gradient(
        150px at 150px 150px,
        $black 40%, $light-gray-60 100%);

        color:$white;

      }
    }
  }
}

///////////////////////////////////////////////////// 15


.button-15{
  height: 150px;
  width: 200px;

  background-color: $light-blue;

  a{
    height: 100%;
    width: 100%;
    position: relative;


    span{
      position: relative;

      display: flex;
      //justify-content: center;
      align-items: center;
     
      height: 100%;
      width: 180px;
      padding: 20px;
      box-sizing: border-box;

      background-color: $white-50;
      color: $white;
      text-shadow: 0px 0px 5px $light-blue;

    }

    
    :after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      height: 100%;
      width: 75px;
      border-radius: 75px 0 0 0;

      background-color: $light-blue;
    }
  }
}

///////////////////////////////////////////////////// 16


.button-16{
  height: 60px;
  width: 180px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  //border: 1px solid $black;

  a{
    display: inline-block;
    height: 100%;
    width: 100%;
    //border: 5px solid $black;
    //background-color: $light-gray;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border-radius: 30px;
      transition: 0.3s;

      background-color: $black;
      color: $white;

    }
  }


  a:hover{
    span{
      border-radius: 0px;
      //background-color: $light-blue;
    }
  }
}

.button-16{
  &.derived{
    a{
      span{
        border: 3px solid $black;
        background-color: $white;
        color: $black;
      }
    }


  }
}


.button-16{
  &.derived{
    &.more{
      a{
        span{
          border: 3px solid $light-blue;
          background-color: $white;
          color: $light-blue;
          border-radius: 0px;
        }
      }

      a:hover{
        span{
          border-radius: 30px;
        }
      }
  
    }
  }
}






///////////////////////////////////////////////////// 17


.button-17{
  height: 80px;
  width: 80px;
  position: relative;


  //border: 3px solid $black;
  //background-color: $black-50;

  a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    border-radius: 50%;
    background-color: $light-blue;
    color: $white;

  }

  a:hover{
    background-color: $light-blue-60;
  }


}

///////////////////////////////////////////////////// 18

.button-18 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  width: 150px;
  background-color: $light-gray-60;
  transition: 0.3s;
}

.button-18 a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid $light-blue;
  transition: 0.2s;
}

.button-18 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 2px solid $black;
  border-right: 2px solid $black;
  transform: rotate(45deg);
}

.button-18 a:hover::before {
  top: 0;
  left: 0;
}

.button-18 a:hover {
  text-decoration: none;
  background-color: $light-blue;
}


.button-18{
  &.derived{
    a{
    background-color: $light-blue-60;
    //color: $light-blue;
    }

    a::before{
      border: 2px solid $black;
    }

    a:hover {
      background-color: $light-blue;
    }


  }
}

///////////////////////////////////////////////////// 19



.button-19{
  position: relative;
  background: $light-blue-60;
  box-shadow: 0px 0px 0px 5px $light-blue-60;
  border: dashed 2px $white;
  padding: 1rem 2rem;
  color: $black;

  :after{
  content: '';
  position: absolute;
  right: -0.8rem;
  top: -0.8rem;
  border-width: 0px 2rem 2rem 0px;
  border-style: solid;
  border-color: $light-blue $white $light-blue;
  box-shadow: -1px 1px 1px $black-10;
  }
}

.button-19{
  &.derived{
    :
  }
}


///////////////////////////////////////////////////// 20




///////////////////////////////////////////////////// 21




///////////////////////////////////////////////////// 22

///////////////////////////////////////////////////// 23

///////////////////////////////////////////////////// 24


///////////////////////////////////////////////////// 25


///////////////////////////////////////////////////// 26


///////////////////////////////////////////////////// 27