@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
.margin {
  margin: 50px 30px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #2E3233;
  background-color: #F7F7F7;
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #2E3233;
  text-decoration: none;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-01 {
  height: 30px;
  width: 150px;
  position: relative;
  text-align: center;
  border: 2px solid #2E3233;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-01 a {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  background: transparent;
}

.button-01 :hover {
  background-color: #99C5CC;
}

.button-01 :after {
  position: absolute;
  left: 6px;
  bottom: -8px;
  content: "";
  display: table;
  border-left: 2px solid #2E3233;
  border-right: 2px solid #2E3233;
  border-bottom: 2px solid #2E3233;
  width: calc(100% - 12px);
  height: 3px;
  margin: 0;
  border-radius: 4px;
}

.button-02 {
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  border: 1px solid #2E3233;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-02 :before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #99C5CC;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.button-02 :hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.button-03 {
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
}

.button-03 a {
  padding: 4px 0 0 4px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-03 a span {
  background-color: transparent;
  -webkit-transform: translate(-4px, -4px) translateZ(0);
          transform: translate(-4px, -4px) translateZ(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 20px;
  height: 100%;
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2E3233;
}

.button-03 a:hover span {
  -webkit-transform: translate(0px, 0px) translateZ(0);
          transform: translate(0px, 0px) translateZ(0);
  background-color: #99C5CC;
}

.button-03 a:after {
  content: '';
  display: block;
  border-right: 1px solid #2E3233;
  border-bottom: 1px solid #2E3233;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 150px;
}

.button-04 {
  height: 100px;
  width: 250px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.6rem;
  font-weight: 600;
  line-height: 1.5;
}

.button-04 a {
  padding: 10px 0 0 10px;
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-04 a span {
  background-color: transparent;
  -webkit-transform: translate(-10px, -10px) translateZ(0);
          transform: translate(-10px, -10px) translateZ(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 5px 0px;
  height: 100%;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #2E3233;
}

.button-04 a:hover span {
  -webkit-transform: translate(0px, 0px) translateZ(0);
          transform: translate(0px, 0px) translateZ(0);
  background-color: #99C5CC;
}

.button-04 a:after {
  content: '';
  display: block;
  border-right: 10px solid #2E3233;
  border-bottom: 10px solid #2E3233;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 250px;
}

.button-05 {
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #5C6566;
  background-color: rgba(206, 215, 217, 0.8);
}

.button-05 a {
  margin: 0;
  line-height: 1;
}

.button-05 a span {
  padding: 0 0 0 10px;
}

.button-05 a:hover {
  border-bottom: 2px solid #5C6566;
}

.button-06 {
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #5C6566;
  border-radius: 100px;
}

.button-06 a {
  margin: 0;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-06 a span {
  padding: 5px 0px;
  height: 100%;
  width: 150px;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-06 a:hover span {
  background-color: #99C5CC;
}

.button-06.derived {
  border-radius: 10px;
  border: none;
  background-color: #99C5CC;
}

.button-06.derived a span {
  border-radius: 10px;
}

.button-06.derived a:hover span {
  background-color: rgba(247, 247, 247, 0.5);
}

.button-07 {
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #99C5CC;
  border-radius: 100px;
}

.button-07 a {
  margin: 0;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-07 a span {
  margin: 0;
  line-height: 1;
  color: #99C5CC;
}

.button-07 a:hover span {
  border-bottom: 2px solid #99C5CC;
}

.button-08 {
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-08 a {
  margin: 0;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-08 a span {
  background-color: rgba(153, 197, 204, 0.3);
  padding: 5px 0px;
  height: 100%;
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-08 a:hover span {
  background-color: #99C5CC;
}

.button-09 a {
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #99C5CC;
  -webkit-box-shadow: 0 5px 0 #CED7D9;
          box-shadow: 0 5px 0 #CED7D9;
  border-radius: 60px;
  color: #F7F7F7;
  cursor: pointer;
  text-decoration: none;
  /* 文字の下線を消す */
}

.button-09 a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.button-09.derived a {
  background-color: #CED7D9;
  -webkit-box-shadow: 0 5px 0 #5C6566;
          box-shadow: 0 5px 0 #5C6566;
  color: #5C6566;
}

.button-09.derived a:hover {
  -webkit-box-shadow: 0 5px 0 #5C6566;
          box-shadow: 0 5px 0 #5C6566;
  -webkit-transform: none;
          transform: none;
}

.button-09.derived a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.button-10 {
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #2E3233;
}

.button-10 a {
  margin: 0;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-10 a :before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 5px;
  background-color: #99C5CC;
}

.button-10 a span {
  padding: 5px 0px;
  height: 100%;
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-10 a:hover span {
  background-color: #99C5CC;
  color: #F7F7F7;
}

.button-11 {
  height: 40px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid rgba(153, 197, 204, 0.3);
  -o-border-image: linear-gradient(to right, #F7F7F7 0%, #99C5CC 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#F7F7F7), to(#99C5CC));
     border-image: linear-gradient(to right, #F7F7F7 0%, #99C5CC 100%);
  border-image-slice: 1;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(153, 197, 204, 0.3);
          box-shadow: 0px 5px 10px 5px rgba(153, 197, 204, 0.3);
}

.button-11 a {
  margin: 0;
  height: 100%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-11 a span {
  background-color: none;
  padding: 5px 0px;
  height: 100%;
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-11 a:hover span {
  background: -webkit-gradient(linear, right top, left top, from(#99C5CC), color-stop(100.1%, rgba(0, 0, 0, 0)));
  background: linear-gradient(270deg, #99C5CC, rgba(0, 0, 0, 0) 100.1%);
}

.button-11.derived {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-11.derived a span {
  background: linear-gradient(217deg, #99C5CC, rgba(0, 0, 0, 0) 70.71%), linear-gradient(127deg, #CED7D9, rgba(0, 0, 0, 0) 70.71%), linear-gradient(336deg, #F7F7F7, rgba(0, 0, 0, 0) 70.71%);
  border-radius: 40px;
  color: #F7F7F7;
  text-shadow: 0px 0px 5px #99C5CC;
  text-shadow: 0px 0px 15px #5C6566;
}

.button-11.derived a:hover span {
  background: linear-gradient(217deg, rgba(153, 197, 204, 0.8), rgba(0, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(206, 215, 217, 0.6), rgba(0, 0, 0, 0) 70.71%), linear-gradient(336deg, #F7F7F7, rgba(0, 0, 0, 0) 70.71%);
}

.button-12 {
  height: 80px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.button-12 a span {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(153, 197, 204, 0.3);
  border-radius: 100% 80px / 80px 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #99C5CC);
          filter: drop-shadow(5px 5px 5px #99C5CC);
  color: #F7F7F7;
}

.button-12 a:hover span {
  background-color: rgba(153, 197, 204, 0.6);
  border-radius: 80px 100% /  100% 70px;
}

.button-12.derived {
  height: 80px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-12.derived a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-12.derived a span {
  background-color: #CED7D9;
  border-radius: 110px 50% / 100% 15px;
  /* (最初の半径の値) / 左上と右下 | 右上と左下 */
  -webkit-box-shadow: 5px 5px 5px 0px #5C6566;
          box-shadow: 5px 5px 5px 0px #5C6566;
  -webkit-filter: none;
          filter: none;
  color: #5C6566;
}

.button-12.derived a:hover span {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-13 {
  height: 50px;
  width: 150px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.button-13 a {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-13 a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #5C6566;
  color: #F7F7F7;
}

.button-13 a :before, .button-13 a :after {
  content: '';
  position: absolute;
  top: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #F7F7F7;
}

.button-13 a :before {
  left: -10px;
}

.button-13 a :after {
  right: -10px;
}

.button-13 a:hover span {
  background-color: rgba(92, 101, 102, 0.8);
}

.button-14 {
  height: 60px;
  width: 180px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.button-14 a {
  height: 100%;
  width: 100%;
}

.button-14 a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #2E3233;
  -o-border-image: linear-gradient(to right, #2E3233 0%, rgba(46, 50, 51, 0.8) 20%, rgba(46, 50, 51, 0.5) 30%, rgba(206, 215, 217, 0.8) 55%, rgba(153, 197, 204, 0.6) 80%, #99C5CC 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#2E3233), color-stop(20%, rgba(46, 50, 51, 0.8)), color-stop(30%, rgba(46, 50, 51, 0.5)), color-stop(55%, rgba(206, 215, 217, 0.8)), color-stop(80%, rgba(153, 197, 204, 0.6)), to(#99C5CC));
     border-image: linear-gradient(to right, #2E3233 0%, rgba(46, 50, 51, 0.8) 20%, rgba(46, 50, 51, 0.5) 30%, rgba(206, 215, 217, 0.8) 55%, rgba(153, 197, 204, 0.6) 80%, #99C5CC 100%);
  border-image-slice: 1;
}

.button-14.derived {
  height: 150px;
  width: 150px;
}

.button-14.derived a span {
  border: none;
  background-image: radial-gradient(150px at 150px 150px, #2E3233 40%, rgba(206, 215, 217, 0.6) 100%);
  color: #F7F7F7;
}

.button-15 {
  height: 150px;
  width: 200px;
  background-color: #99C5CC;
}

.button-15 a {
  height: 100%;
  width: 100%;
  position: relative;
}

.button-15 a span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 180px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(247, 247, 247, 0.5);
  color: #F7F7F7;
  text-shadow: 0px 0px 5px #99C5CC;
}

.button-15 a :after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 75px;
  border-radius: 75px 0 0 0;
  background-color: #99C5CC;
}
/*# sourceMappingURL=style.css.map */